<!DOCTYPE html>
<html itemscope itemtype="//schema.org/WebPage">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ project_description }}" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ project_name }}</title>
  <meta property="og:title" content="{{ project_name }}" />
<!--   <meta property="og:description" content="PROJECT DESCRIPTION" /> -->
  <meta property="og:type" content="website" />
  <meta name="twitter:title" content="{{ project_name }}">
<!--   <meta property="ogtwitterdescription" content="PROJECT DESCRIPTION" /> -->
  <!--[if lt IE 9]>
  <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->  
  <link rel="stylesheet" href="https://{{project_name}}.glitch.me/libs/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="https://{{project_name}}.glitch.me/libs/c3/c3.min.css">
  <link rel="stylesheet" href="https://{{project_name}}.glitch.me/css/styles.css">
  <!-- TODO: Use favicon-generator.org to create favicons. -->
  <!--
  <link rel="shortcut icon" href="TODO:URL"/>
  <link rel="apple-touch-icon" sizes="57x57" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="60x60" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="72x72" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="76x76" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="114x114" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="120x120" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="144x144" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="152x152" href="TODO:URL">
  <link rel="apple-touch-icon" sizes="180x180" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="192x192"  href="TODO:URL">
  <link rel="icon" type="image/png" sizes="32x32" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="96x96" href="TODO:URL">
  <link rel="icon" type="image/png" sizes="16x16" href="TODO:URL">
  -->
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <style>
    body{
      font-family: sans-serif;
      color: #424242;
    }
  </style>
</head>
<body>
    {{{body}}}
</body>
</html>